@import "tailwindcss";

:root {
  --font-sans: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  background: #faf8f3;
  color: #26332d;
}

*{
  box-sizing:border-box;
}

section{
  scroll-margin-top:90px;
} 